
body, html{
  height:100%;
  background-image: url('background.jpg');
}

body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineupButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  position:absolute;
}

.blinkyDancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.ryuDancer{
  height:100px;*/
  position:absolute;
  left:100px;
  background-color:red;*/
}

